
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Raleway&display=swap');


#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}
header{
    background: url("img/flowers.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    
}

h1{
    color:darkslategrey;
    font-family:Questrial;
    font-size:75px;
}
h2{
    color:darkslategrey;
    font-family:Questrial;
    font-size:70px;
}

.pfp{

    border-radius: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.icon{
    color:darkslategrey;
    font-size:20px;
    border-radius: 50%;
}

p{
     font-family:Raleway;
     font-size: 24px;
}

img.ctr {
    display: block;
    margin: 0 auto;
}

p.ctr {
    display: block;
    margin: 0 auto;

}

#blog{
    display:none;
    
}

.blogtext{

   /* float: left; */
    font-family: Raleway, sans-serif;
    font-size: 20px;
    /* display:inline; */
}

.blogimg{
     /*float:right;
    
    display:inline;*/
}

.blankspace{
    height:400px;
}

.blogpost{
    display:flex;

}